@keyframes mario-run {
    0% {
      background-position: 0px;
    }
    100% {
      background-position: -2364px; /* This should be the total width of all frames in the sprite */
    }
  }
  
  .mario {
    height: 248px;
    width: 182px;
    background-image: url('Mario.png');
    background-repeat: no-repeat;
    animation: mario-run 5s steps(13) infinite;
  }
  